<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/style.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/hamburguesa.js"></script>
	<title>Come la hamburguesa!</title>
</head>

<body>

	{{{body}}}

</body>



</html>