<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/style.css" type="text/css"/>
		{{!-- BOOTSTRAP --}}
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<title>Come la hamburguesa!</title>
</head>

<body>

	{{{body}}}
	
{{!-- JQUERY --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/hamburguesa.js"></script>


</body>



</html>