<div class="container">
    <div class="jumbotron">
        <img src="/public/images/burger.png" width="auto" height="auto">
        <h1>¿Queires Comes?</h1>
    </div>
</div>

<div class="container">


<h2>Yo quiero comer!</h2>
       <ul>
            {{#each hamburguesa}}
                {{#unless come}}
                    <button class= "come" data-id = "{{id}}" type="button"></button>
                {{/unless}}
            {{/each}}
       </ul>
</div>

